/* Colors (dracula) */
@define-color foreground	#f8f8f2;
@define-color background	rgba(40, 42, 54, 0.5);
@define-color orange	#ffb86c;
@define-color gray	#44475a;
@define-color black #21222c;
@define-color red	#ff5555;
@define-color green	#50fa7b;
@define-color yellow	#f1fa8c;
@define-color cyan	#8be9fd;
@define-color blue	#6272a4;
@define-color purple	#bd93f9;
@define-color pink	#ff79c6;
@define-color white #ffffff;
@define-color brred #ff6e6e;
@define-color brgreen #69ff94;
@define-color bryellow #ffffa5;
@define-color brcyan #a4ffff;
@define-color brblue #6272a4;
@define-color brpurple #d6acff;
@define-color brpink #ff92df;

@define-color arch_blue #89b4fa;

@define-color workspace_background	@background;
@define-color workspace_button	@foreground;
@define-color workspace_active	@black;
@define-color workspace_active_background	@foreground;
@define-color workspace_urgent	@white;
@define-color workspace_urgent_background	@brred;
@define-color workspace_hover	@black;
@define-color workspace_hover_background	@blue;
@define-color critical	@red;
@define-color warning	@yellow;

@keyframes blink {
  to {
    background-color: @white;
    color: @black;
  }
}

* {
  border: none;
  border-radius: 10px;
  font-family: "monospace";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @workspace_background;
  color: @foreground;
}

#workspaces {
  background: @workspace_background;
  opacity: 1;
}

#workspaces button {
  padding: 1px 6px; /* <--- Réduit l’espace intérieur (haut/bas, gauche/droite) */
  margin: 2px 2px; /* <--- Réduit l’espace entre les boutons */
  border-radius: 3px; /* <--- Réduit la rondeur des coins */
  min-width: 0; /* <--- Empêche une taille minimale trop grande */
  min-height: 0;
}

#workspaces button,
#workspaces button.persistent {
  background: transparent;
  color: @workspace_button;
  transition: none;
}

#workspaces button.active {
  background: @workspace_active_background;
  color: @workspace_active;
}

#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#tray {
  background: @background;
  opacity: 1;
  padding: 0px 5px;
  margin: 2px 0px 2px 5px;
}

#battery {
  color: @foreground;
  border-radius: 5px 0px 0px 5px;
}

#battery.discharging {
  color: @foreground;
}

#battery.warning:not(.charging) {
  background: @warning;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: @critical;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  border-radius: 0px 5px 5px 0px;
}
