[Accounts]
0\Folders\1\ignoreHiddenFiles=false
0\Folders\1\localPath=/home/jo/Documents/
0\Folders\1\paused=false
0\Folders\1\targetPath=/Documents
0\Folders\1\version=2
0\Folders\1\virtualFilesMode=off
0\Folders\2\ignoreHiddenFiles=false
0\Folders\2\localPath=/home/jo/divers/
0\Folders\2\paused=false
0\Folders\2\targetPath=/divers
0\Folders\2\version=2
0\Folders\2\virtualFilesMode=off
0\Folders\3\ignoreHiddenFiles=false
0\Folders\3\localPath=/home/jo/Images/
0\Folders\3\paused=false
0\Folders\3\targetPath=/Images
0\Folders\3\version=2
0\Folders\3\virtualFilesMode=off
0\Folders\4\ignoreHiddenFiles=false
0\Folders\4\localPath=/home/jo/Téléchargements/
0\Folders\4\paused=false
0\Folders\4\targetPath=/Téléchargements
0\Folders\4\version=2
0\Folders\4\virtualFilesMode=off
0\authType=webflow
0\dav_user=331c07da-20b5-491e-8c81-def0738b8bcd
0\displayName=Jo
0\url=https://trystop.eu
0\version=13
0\webflow_user=331c07da-20b5-491e-8c81-def0738b8bcd
